@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Soham's webapge. This is my website.</h1>
    <p>Learn about <a href="https://www.brainwareuniversity.ac.in">Brainware University</a>. plese click here.</p>
</div>
